.test-2 form.ant-form {
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    width: 70%;
    margin: auto;
}

.test-2 form.ant-form .ant-form-item {
    margin-bottom: 5px;
}

.test-2 form.ant-form .ident-no .ant-form-item {
    margin-inline-end: 0px;
}