.nav-container {
    padding: 12px 0px;
    overflow: hidden;
}

.nav-container .nav-title {
    color: black;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
}

.nav-container .select-wrapper {
    float: right;
}